html {
    color:#333;
    background:#FFF;
    font-size: 12px;
    font-family:  "微软雅黑";
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{
    background: #f5f5f5;
}
ol,ul{list-style:none}
a{text-decoration: none;}

.top{
    width: 100%;
    height: 27px;
   background: url("../images/top_bg.jpg" ) repeat-x;
}
.top .top-content{
    width: 1000px;
    margin: 0 auto;
}
.top .top-content li{
    list-style-image: url("../images/li_bg.gif");
    float: right;
    line-height: 27px;
    width: 70px;
}
.top-content a:link,.top-content a:visited{
    color: #8E8E8E;
}
.top-content a:hover{
    color: #900;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.logo{
    height: 80px;
    background: #fff;
    overflow: hidden;
}
.logo-left{
    width: 200px;
    float: left;
}
.logo-right{
    width: 300px;
    float: right;
    line-height: 80px;
    color: #8E8E8E;
}
.logo-right img{
    vertical-align: middle;
    margin-right: 10px;
}
.tel{
    color: #c00;
    font-size: 16px;
    font-family:  "微软雅黑";
}

.nav {
    height: 40px;
}
.nav-left {
    width: 10px;
    background: url("../images/nav_left.jpg") no-repeat;
}
.nav-mid {
    width: 980px;
    background: url("../images/nav_bg.jpg") repeat-x;
    /*line-height: 40px;*/
}
.nav-right {
    width: 10px;
    background: url("../images/nav_right.jpg") no-repeat;
}
.nav-left, .nav-mid, .nav-right {
    height: 40px;
    float: left;
    /*display: inline;*/
}
.nav-mid-left,.nav-mid-right{
    float: left;
}
.nav-mid-left{
    width: 680px;
}
.nav-mid-right{
    width: 300px;
    line-height: 40px;
}
.nav-mid-left li{
    float: left;
    width: 100px;
    text-align: center;
    line-height: 40px;
}
.nav-mid-left li a{

}
.nav-mid-left li a:link,.nav-mid-left li a:visited{
    color: #fff;
    font-size: 16px;
}
.nav-mid-left li a:hover,.nav-mid-left li a:active{
    color: #ff0;
}
.search-text{
    width: 190px;
    height: 25px;
    background: url("../images/search.jpg") no-repeat right center;
    background-color: #fff;
    padding-right: 30px;
    padding-left: 5px;
    border: 1px solid #fff;
}
.ad {
    height: 310px;
    overflow: hidden;
}
.main{
    height: 250px;
    background: #fff;
    margin-top: 5px;
}
.news,.course,.sidebar{
    border: 1px solid #E8E8E8;
    height: 250px;
    float: left;
}
.main .news{
    width: 340px;
}
.main .course{
    width: 410px;
    margin: 0px 7px;
}
.main .sidebar{
    width: 230px;
    height: 250px;
}
.title{
    height: 35px;
    border-bottom: 2px solid #E8E8E8;
}
.title-left{
    width: 70%;
    font-size: 14px;
    font-weight: bolder;
    color: #786F66;
    float: left;
    line-height: 35px;
    padding-left: 20px;
}
.title-right{
    width: 20%;
    float: right;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}
.title-right a{
    color: #999;
}
.pic-news{
    height: 80px;
    margin-top: 10px;
    line-height: 22px;
}
.pic-news img,.course-pic img{
    float: left;
    margin: 0 5px;
}
.pic-news a,.course-pic a{
    color:#c00;
}
.news-list{
    margin-top: 20px;
}
.news-list li{
    background: url("../images/list.jpg") no-repeat;
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #ccc;
}
.news-list a:link,.news-list a:visited{
    color: #000;
}
.news-list a:hover,.news-list a:active{
    color: #f00;
}

.news-list span{
    color: #999;
    float: right;
}
.course-pic{
    height: 120px;
    margin-top: 10px;
    line-height: 22px;
}
.course-type{
    height: 37px;
    width: 372px;
    background: url("../images/product_type_bg.jpg") no-repeat;
    margin: 20px auto;
}
.course-type li{
    float: left;
    line-height: 37px;
    margin: 0 15px;
    text-align: center;
}
.video{
    height: 185px;
    border:1px solid #E8E8E8;
}
.video-content{
    height: 150px;
}
.sidebar-ad{
    height: 55px;
    border:1px solid #E8E8E8;
    margin-top: 10px;
}
.footer{
    width: 100%;
    height: 200px;
    background: #E8E8E8;
    margin-top: 10px;
    padding-top: 20px;
    clear: both;
}
.footer li{
    float: left;
    width: 200px;
    background: url("../images/line.png") no-repeat right center;
    text-align: center;
    line-height: 30px;
}
.footer a{
    color: #999;
    font-size: 18px;
}
.footer li ul li a{
    font-size: 14px;
}


/*list*/
.list-main{
    min-height: 350px;
    _height:350px;
    background: #fff;
    margin-top: 10px;
}
.news-type{
    width: 220px;
    height: 350px;
    border: 1px solid #E8E8E8;
    float: left;
}
.list-box{
    width: 770px;
    min-height: 350px;
    _height: 350px;
    border: 1px solid #E8E8E8;
    float: right;
    background: #fff;
}
.news-type h2{
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    color: #666;
    background: url("../images/titile_bg.gif") repeat-x;
    padding-left: 20px;
}
.news-type-content{
    height: 365px;
    background: url("../images/content_bg.gif") repeat-x;
}
.news-type-content li{
    height: 30px;
    line-height: 30px;
}
.news-type-content li a{
    display: block;
    color: #666;
    background: url("../images/li_bg.gif") no-repeat left center;
    padding-left: 15px;
}
.news-type-content li a:hover{
    color: #009CDF;
    background: url("../images/li_bg2.gif") no-repeat left center;
    background-color: #F2F2F2;
}
.list-box h2{
    height: 35px;
    line-height: 35px;
    background: url("../images/type_bg.png") repeat-x;
    padding-left: 20px;
}
.page{
    height: 40px;
    text-align: center;
    margin-top: 10px;
}
.page a{
    display: inline-block;
    border: 1px solid #E8E8E8;
    padding: 5px 10px;
    margin: 5px;
}
.page a:link,.page a:visited{
    color: #000;
}
.page a:hover,.page a:active{
    background: #cc1c1c;
    color:#fff;
}
.list-box-info img{
    width: 500px;
    margin-left: 100px;
    margin-top: 10px;
}
.list-box-info{
    padding: 15px;
    line-height: 25px;
    text-indent: 2em;
}
.list-box h1{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.p1{
    color: #666;
    text-align: right;
    border-bottom: 1px dotted #666;
    padding-right: 10px;
}
